*{
box-sizing: border-box;
margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 100vh;
}

.padlock{
    width: 50vw;
    height: 100vh;
    background: url('./padlock.png') center;
    background-size: cover;
}

.hidden{
    display: none;
}

.text{
    width: 50vw;
    height: 100vh;
}